/* Defaults/Resets */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --body-text: 'Quicksand';
    --title-text: 'DM Sans';
    --clr-black: hsl(210, 12%, 13%);
    --clr-dark: hsl(218, 29%, 16%);
    --clr-accent-light: hsl(219, 100%, 72%);
    --clr-accent-dark: hsl(216, 38%, 47%);    
    --clr-light: hsl(47, 21%, 92%);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Actual Styles */

html,
body {
    font-family: var(--body-text), sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

a {
    color: inherit;
    text-decoration: none;
}

.down-arrow {
    position: absolute;
    left: calc(50% - 46px);
    /*  
    Not quite sure why 46px is the sweet spot to make it perfectly center.
    The element is 107.45px, so it would make more sense if it was half of that.
    Then I thought maybe it's because of the scroll bar, but that's only 18px.
    107.45px/2 = 53.725px +/- 18px = 71.725px/35.725px. Oh well.
    */
    bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    animation: vertical-bob 3000ms ease-in-out infinite;
}

.down-arrow::before {
    content: 'scroll for more';
}

.eclipse {
    position: absolute;
    top: 10vh;
    right: 10vw;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(147deg, hsla(216, 38%, 47%, 0) 33%, hsl(216, 38%, 47%) 80%);
}

.eclipse::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: block;
    background: url('./assets/colton.png');
    background-size: 500px 500px;
    background-repeat: no-repeat;
}

.container {

}

#home {
    height: 100vh;
    position: relative;
    /* background-image: url('./assets/wave-haikei.svg');
    background-repeat: no-repeat; */
}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 2rem;
    font-size: 1.15rem;
    margin: 1rem 4rem;
    height: 30px;
}

.navbar > li {
    position: relative;
    cursor: pointer;
}

.navbar > li::after {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: var(--clr-accent-light);
    border-radius: 1rem;
    transition: width 220ms cubic-bezier(.18,.89,.32,1.28);
}

.navbar > li:hover::after {
    width: 100%;
}

.title {
    font-family: var(--title-text);
    font-size: 4rem;
    font-weight: 100;
    margin-left: 10vw;
    margin-top: 46vh;
    letter-spacing: 0.075rem;
}

.title::after {
    content: '';
    position: absolute;
    left: 8vw;
    width: 246px;
    height: 2px;
    display: block;
    background-color: var(--clr-light);
}

.title-bold {
    font-weight: 800;
}

.home-body-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-accent-dark);
    border-radius: 1rem;
    padding: 1.5rem 3rem;
}

.home-body {
    width: 44ch;
    font-size: 1.2rem;
}

.info-card {
    border: 1px solid red;
}

#body {
    /* background-image: url('./assets/layered-waves-haikei.svg');
    background-repeat: no-repeat; */
}

/* Animations */
@keyframes vertical-bob {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}